*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    background-image: linear-gradient(to right, #0093E9 , #80D0C7 );
    display: flex;
    justify-content: center;
    padding-top: 180px;
}
main{
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}
main h1{
padding:30px 30px 50px 30px;

}
/* the beginning of the grid*/
.container{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr 0.8fr 0.2fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
/*multiplication grid section*/
.multiInput1{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
.multiSign{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.multiInput2{
    display: flex;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/2;
}
.multiEqual{
    display: flex;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 1/2;
}
.multiResult{
    display: flex;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 1/2;
}
/*division grid section*/
.divInput1{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.divSign{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}
.divInput2{
    display: flex;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 2/3;
}
.divEqual{
    display: flex;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 2/3;
}
.divResult{
    display: flex;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 2/3;
}
/*addition grid section*/
.addInput1{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 3/4;
}
.addSign{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 3/4;
}
.addInput2{
    display: flex;
    justify-content: center;
    grid-column:3/4;
    grid-row: 3/4;
}
.addEqual{
    display: flex;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 3/4;
}
.addResult{
    display: flex;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 3/4;
}
/*subtraction grid section*/
.subInput1{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 4/5;
}
.subSign{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 4/5;
}
.subInput2{
    display: flex;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 4/5;
}
.subEqual{
    display: flex;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 4/5;
}
.subResult{
    display: flex;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 4/5;
}
/*the button*/
.calculate{
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 80%;
    background-color: rgb(44, 128, 107);
    grid-column: 1/2;
    grid-row:5/6 ;
}
.calculate:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px gray;
    transition: 300ms;
}
div input{
    width: 100%;
    min-width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    
}


