*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
@font-face{
    font-family:Knewave-Regular;
    src: url(fonts/Knewave-Regular.ttf);
}
.jumbotron
{
    background-image: url(img/Jumbotron-backgound.jpg);
    background-size: cover;
}
.jumbotron-text{
    font-size: 300%;
    color: rgb(240, 218, 218);
    display: flex;
    justify-content: center;
}
.box{
    background-color: rgba(25, 25, 25, 0.4);
    margin: 10%;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 8px 8px 8px gray;
}
#Home,#Studie,#Projecten,#Vaardigheden,#Contact{
    margin-top: 200px;
    margin-bottom: 200px;
}
h1,h2,h3,h4,h5,h6,p{
    font-family:Knewave-Regular
}
#website-logo{
    border-radius: 10px;
    width: 45%;
    box-shadow:5px 5px 5px blue;
}
.nav-items{
    font-size:130% ;
}
#my-photo{
    max-width: 80%;
    box-shadow: 8px 8px 8px gray;
}
.p-text{
    font-size: 150%;
}
#studie-foto{
    border-radius: 50px;
    max-width: 80%;
    box-shadow: 8px 8px 8px gray;
    margin-bottom: 10%;
    
}
#school-foto{
    max-width: 95%;
    box-shadow: 8px 8px 8px gray;
    border-radius: 50px;
    margin-bottom: 10%;
}
#card-game-foto{
    max-width: 80%;
    margin: 10% 0% 10% 0%;
    border-radius: 30px;
    box-shadow: 8px 8px 8px gray;
}
#rekenmachine-foto{
    max-width: 95%;
    margin: 10% 0% 10% 0%;
    border-radius: 30px;
    box-shadow: 8px 8px 8px gray;
}
.vaardigheden-logo{
    max-width: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 10%;
}
.contact-icon{
    font-size: 50px;
}
.themedTexts{
    color: rgb(255, 255, 255);
}
.bodyBackgroundColor{
    background: rgb(10, 9, 9);
}